<?php declare(strict_types=1); ?>

<!-- Display a single machine object -->
<?php if ($machine): ?>

<!-- Title and meta information -->
<div>
  <h2 class="title"><?php echo $machine->icon . ' ' . $machine->getTitle(); ?></h2>
  <?php if ($machineInfo): ?>
  <p class="content-info">
    <span class="small">
    <?php if (TfSession::isAdmin()): ?>
    <a href="<?php echo TFISH_ADMIN_URL . 'machine.php?op=edit&amp;id=' . $machine->getId(); ?>"><i title="<?php echo TFISH_SENSOR_EDIT; ?>" class="fas fa-edit"></i></a>
    <?php endif; ?>
    <?php echo $machineInfo; ?>
    </span>
  </p>
  <?php endif; ?>
</div>

<!-- Description -->
<div class="description">
  <?php if ($machine->description) echo $machine->getDescription(); ?>
</div>

<!-- Display child works -->    
<?php if (!empty($childSensors)): ?>

<!-- Intra-machine pagination -->
<?php if (isset($machinePagination)): ?>
<div class="d-flex justify-content-end collection-pagination-top clearfix">
  <?php echo $machinePagination; ?>
</div>
<?php endif; ?>

<div>
  <h3 class="mb-3"><?php echo TFISH_MACHINE_ONBOARD_SENSORS; ?></h3>
</div>
<div class="mb-3">
  <?php foreach ($childSensors as $sensor): ?>
  <div class="clearfix">
    <h4 class="child-title"><a href="<?php echo TFISH_ADMIN_URL . 'sensor.php?op=view&amp;id=' . $sensor->getId(); ?>"><?php echo $sensor->getIcon(); ?> <?php echo $sensor->getTitle(); ?></a></h4>
    <div class="child-teaser">
      <?php echo $sensor->getTeaser(); ?>
    </div>
  </div>
  <?php endforeach; ?>    
</div>

<!-- Intra-machine pagination -->
<?php if (isset($machinePagination)): ?>
<div class="d-flex justify-content-end collection-pagination-bottom clearfix">
  <?php echo $machinePagination; ?>
</div>
<?php endif; ?>
<?php endif; ?>

<?php endif; ?>