<!--<div class="block block-bordered-lg">-->
	<div class="container">
	  <div class="row">
	  <div class="col-sm-8 col-sm-offset-2 text-center m-b-lg">
		  <p class="lead m-x-auto">Over <strong>25 years of experience</strong> in sustainable farming systems for rural development.</p>
	  </div>
	  </div>
	  <div class="row">
		<div class="col-sm-6">
		  <ul class="featured-list">
			<li class="m-b-lg">
			  <div class="featured-list-icon text-primary">
				<span class="icon icon-awareness-ribbon"></span>
			  </div>
				<p class="featured-list-icon-text m-b-0"><strong><a href="<?php echo TFISH_URL . '?id=21&amp;title=aquatic-animal-health'; ?>">Aquatic animal health</a></strong></p>
			  <p class="featured-list-icon-text">
				Implementation of practical national aquatic animal health strategies will minimise the impact of disease and support development of sustainable aquaculture.
			  </p>
			</li>

			<li class="m-b-lg">
			  <div class="featured-list-icon text-primary">
				<span class="icon icon-blackboard"></span>
			  </div>
				<p class="featured-list-icon-text m-b-0"><strong><a href="<?php echo TFISH_URL . '?id=32&amp;title=training-and-education'; ?>">Training &amp; education</a></strong></p>
			  <p class="featured-list-icon-text">
				Capacity building at all levels is an essential requirement for sustainable development.
			  </p>
			</li>

		  </ul>
		</div>
		<div class="col-sm-6">
		  <ul class="featured-list">

			<li class="m-b-lg">
			  <div class="featured-list-icon text-primary">
				<span class="icon icon-drop"></span>
			  </div>
				<p class="featured-list-icon-text m-b-0"><strong><a href="<?php echo TFISH_URL . '?id=854&amp;title=culture-based-fisheries'; ?>">Culture-based fisheries</a></strong></p>
			  <p class="featured-list-icon-text">
				Culture-based fisheries are practices to enhance fish stocks in waters that don't have enough natural recruitment to sustain a fishery.
			  </p>
			</li>

			<li class="m-b-lg">
			  <div class="featured-list-icon text-primary">
				<span class="icon icon-bug"></span>
			  </div>
				<p class="featured-list-icon-text m-b-0"><strong><a href="<?php echo TFISH_URL . '?id=19&amp;title=genetics-and-biodiversity'; ?>">Genetics &amp; biodiversity</a></strong></p>
			  <p class="featured-list-icon-text">
				Management of genetic resources is a particularly important issue for developing countries that are heavily dependent on their natural resource base.
			  </p>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
  <!--</div>-->