/*@media (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}*/

body {}

video {
    max-width: 100%;
    height: auto;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Figure and figcaption styles make captions wrap to figure width */
figure {
   display: table;
}

figure img {
	border-style: solid;
	border-width: 1px;
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
	margin-bottom: 1rem;
}​

.figure-centre {
	margin: 1rem 0;
}

.figure-left {
	margin: 0 2rem 0.5rem 0;
}

.figure-right {
	margin: 0 0 0.5rem 2rem;
}

.rights {
	font-style: italic;
}

.audio-player {
	margin: 2rem 0;
}

.video-player {
	margin: 2rem 0;
}

.select_filters {
	margin: 0 0 0 0;
}

.pagination {	
}

.collection_pagination {
	margin: -1.5rem 0 1rem 0;
}

.clearfix-left {
	display: table;
    content: " ";
    display: table;
	clear:left;
}

.clearfix-right {
	display: table;
    content: " ";
    display: table;
	clear:right;
}