<!-- Display a single tag object -->
<?php if ($content): ?>
    <!-- Title and meta information -->
	<div class="text-left">
        <h2><?php echo $content->escape('title'); ?></h2>
    </div>
    
    <!-- Image -->
    <?php if ($content->image): ?>
    <div>
        <figure class="pull-right figure-right">
            <img class="img-responsive center-block" src="<?php echo $content->getCachedImage(400); ?>" 
                <?php if ($content->caption): ?>
                    title="<?php echo $content->escape('caption'); ?>" alt="<?php echo $content->escape('caption'); ?>"/>
                    <figcaption class="text-left"><em><?php echo $content->escape('caption'); ?></em></figcaption>
                <?php else: ?>
                    alt="" />
                <?php endif; ?>
        </figure>
    </div>
    <?php endif; ?>
    
    <!-- Description -->
    <div class="text-left">
	<?php if ($content->description) echo $content->escape('description'); ?>
    </div>
    
    <!-- Display parent work -->
    <?php if (!empty($parent)): ?>
	<div class="clearfix">
        <div class="text-left">
            <h3><?php echo TFISH_RELATED; ?></h3>
            <h4><?php echo $parent->icon; ?> <a href="<?php echo $parent->getURL(false); ?>"><?php echo $parent->escape('title'); ?></a></h4>
            <?php if ($parent->image): ?>
                <div class="pull-left">
                    <figure class="figure-left">
                    <a href="<?php echo $parent->getURL(false); ?>">
                    <img class="img-responsive" src="<?php echo $parent->getCachedImage(100); ?>" 
                         <?php if ($parent->caption): ?>title="<?php echo $parent->escape('caption'); ?>" 
                         alt="<?php echo $parent->escape('caption'); ?>"<?php endif; ?> />
                    </a>
                    </figure>
                </div>
            <?php endif; ?>
            <?php echo $parent->escape('teaser'); ?>
        </div>
	</div>
    <?php endif; ?>
    
    <!-- Display other works linked to this tag -->    
    <?php if (!empty($first_children)): ?>
        <?php if (isset($collection_pagination)): ?>
            <div class="pull-right collection_pagination clearfix">
                <?php echo $collection_pagination; ?>
            </div>
        <?php endif; ?>
        <div class="text-left">
            <h3>In this collection</h3>
        </div>
        <div class="text-left">
            <?php foreach ($first_children as $child): ?>
			<div class="clearfix">
                <h4><?php echo $child->icon; ?> <a href="<?php echo $child->getURL(false); ?>"><?php echo $child->escape('title'); ?></a></h4>
                <?php if ($child->image): ?>
                    <div class="pull-left">
                        <figure class="figure-left">
                        <a href="<?php echo $child->getURL(false); ?>">
                        <img class="img-responsive" src="<?php echo $child->getCachedImage(100); ?>" 
                             <?php if ($child->caption): ?>title="<?php echo $child->escape('caption'); ?>" 
                             alt="<?php echo $child->escape('caption'); ?>"<?php endif; ?> />
                        </a>
                        </figure>
                    </div>
                <?php endif; ?>
                <?php echo $child->escape('teaser'); ?>
			</div>
            <?php endforeach; ?>    
        </div>
        
        <!-- Intra-collection pagination -->
            <?php if (isset($collection_pagination)): ?>
            <div class="pull-right collection_pagination clearfix">
                <?php echo $collection_pagination; ?>
            </div>
            <?php endif; ?>
    <?php endif; ?>

<?php endif; ?>