<!-- Carousel -->
<!--
<div class="block block-bordered-lg p-l-0 p-t-0 p-r-0">
  <div id="carousel" class="carousel carousel-light slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="block">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="lead m-x-auto text-center">
                  Lotus farm, Cambodia.
                </p>
              </div>
            </div>
              <img class="img-responsive m-t-lg app-block-game-img" src="<?php echo TFISH_URL . 'carousel/lotus.jpg'; ?>">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="block">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="lead m-x-auto text-center">
                  Instead of guessing how much time you spend on each of your tasks, why not have automagically record everything and have easy reporting without lifting a finger? <span class="hidden-xs">Well now you can with ease.</span>
                </p>
              </div>
            </div>
              <img class="img-responsive m-t-lg app-block-game-img" src="<?php echo TFISH_URL . 'carousel/cambodia.jpg'; ?>">
          </div>
        </div>
      </div>
      <div class="item">
        <div class="block">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <p class="lead m-x-auto text-center">
                  Reducing health risks from antimicrobial resistance:  <span class="hidden-xs"> An international workshop to address antimicrobial use and resistance in aquaculture.</span>
                </p>
              </div>
            </div>
              <img class="img-responsive m-t-lg app-block-game-img" src="<?php echo TFISH_URL . 'carousel/antimicrobial-resistance.jpg'; ?>">
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="icon icon-chevron-thin-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="icon icon-chevron-thin-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
-->

<!-- Display a list of all content types in teaser view -->
<?php if ($content_objects): ?>
	<?php foreach ($content_objects as $content): ?>
    <div class="clearfix">
		<div class="text-left">
			<h3 style="font-weight:bolder;"><?php echo $content->icon; ?> <a href="<?php echo $content->getURL(false); ?>"><?php echo $content->escape('title'); ?></a></h3>
		</div>
        <?php if ($content->image): ?>
            <div class="pull-left">
                <figure class="figure-left">
                <a href="<?php echo $content->getURL(false); ?>">
                <img class="img-responsive" src="<?php echo $content->getCachedImage(100); ?>" 
                     <?php if ($content->caption): ?>title="<?php echo $content->escape('caption'); ?>" 
                     alt="<?php echo $content->escape('caption'); ?>"<?php endif; ?> />
                </a>
                </figure>
            </div>
        <?php endif; ?>
        <?php if ($content->teaser): ?>
            <div class="text-left"><?php echo $content->escape('teaser'); ?></div>
        <?php endif; ?>
    </div>
	<?php endforeach; ?>
<?php endif; ?>