body {
  padding-top: 5rem;
}

.starter-template {
  padding-top: 3rem;
  text-align: center;
}

.img-thumbnail {
    margin-bottom: 2rem;
}

/* Figure and figcaption styles make captions wrap to figure width */
.page-title {
    margin-bottom: 2rem;
}

.select_filters {
    margin-bottom: 2rem;
}

.pagination-top {
    margin-bottom: 1rem;
}

.add-content {
    margin-bottom: 2rem;
}

.main-content {
    margin-bottom: 2rem;
}

pagination-bottom {}

figure {
    display: table;
}

figure img {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-bottom: 1rem;
}​

.figure-centre {
    margin: 1rem 0;
}

.figure-left {
    margin: 0 2rem 0.5rem 0;
}

.figure-right {
    margin: 0 0 0.5rem 2rem;
}

.rights {
    font-style: italic;
}

.collection_pagination {
    margin: -1.5rem 0 1rem 0;
}