<!-- Select filters should be assigned to template variable $select_filters -->
<form class="form-horizontal select_filters" name="select_filters" action="<?php echo $select_action; ?>" method="get">
    <div class="form-group">
        <div class="col-lg-offset-3 col-lg-2 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3"><?php echo $tag_select; ?></div>
        <div class="col-lg-2 col-md-3 col-sm-3"><?php echo $type_select; ?></div>
        <div class="col-lg-2 col-md-2 col-sm-2"><?php echo $online_select; ?></div>
    </div>
</form>