body {
    padding-top: 50px;
}

video {
    max-width: 100%;
    height: auto;
}

.starter-template {
    padding: 40px 0px 0px 0px;
}

/* Figure and figcaption styles make captions wrap to figure width */
figure {
    display: table;
}

figure img {
    display: block;
    width: 100%;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    margin-bottom: 1rem;
}​

.figure-centre {
    margin: 1rem 0;
}

.figure-left {
    margin: 0 2rem 0.5rem 0;
}

.figure-right {
    margin: 0 0 0.5rem 2rem;
}

.rights {
    font-style: italic;
}

.audio-player {
    margin: 2rem 0;
}

.video-player {
    margin: 2rem 0;
}

.select_filters {
    margin: 30px 0px 30px 0px;
}

.pagination {	
}

.collection_pagination {
    margin: -1.5rem 0 1rem 0;
}

.form-buttons {
    margin: 30px 0px 30px 0px;
}

.spacer {
    margin-bottom: 1.5rem;
}