<!-- Display a list of images in grid view -->
<?php if ($content_objects): ?>

<div class="row">
<?php foreach ($content_objects as $content): ?>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="<?php echo TFISH_IMAGE_URL . $content->escape('image'); ?>">
            <img class="img-responsive" src="<?php echo $content->getCachedImage(245); ?>"
                 alt="<?php echo $content->escape('caption'); ?>"
                 title="<?php echo $content->escape('caption'); ?>">
        </a> 
    </div>
<?php endforeach; ?>
</div>
<?php endif; ?>
	