<?php if (isset($page_title)) echo '<h1>' . $page_title  . '</h1>'; ?>
<?php if (isset($pagination)): ?>
    <div class="text-right">
        <?php echo $pagination; ?>
   </div>
<?php if (isset($select_filters_form)): ?>
<div class="text-center"><?php echo $select_filters_form; ?></div>
<?php endif; ?>
<?php endif; ?>
<?php if (isset($tfish_main_content)) echo $tfish_main_content; ?>
<?php if (isset($pagination)): ?>
	<div class="text-right">
		<?php echo $pagination; ?>
	</div>
<?php endif; ?>