<!-- Display a single podcast object -->
<?php if ($content): ?>
	<div class="container text-left">
		<?php echo '<h2>' . $content->title . '</h2>'; ?>
		<?php if ($content->author || $content->counter || $tags): ?>
			<p><em>
				<?php
					if ($content->creator) echo $content->creator . ' | ';
					if ($content->counter) echo $content->counter . ' ' . TFISH_VIEWS . ' | ';
					if ($tags) echo TFISH_TAGS . ': ' . implode(", ", $tags); ?>
			</em></p>
		<?php endif; ?>
		<?php if ($content->description) echo $content->description; ?>
	</div>
<?php endif; ?>