<!-- Display a single tag object -->
<?php if ($content): ?>
	<div class="text-left">
		<?php echo '<h2>' . $content->escape('title') . '</h2>'; ?>
		<?php if ($content->author || $content->counter || $tags): ?>
			<p><em>
				<?php
					if ($content->creator) echo $content->escape('creator') . ' | ';
					if ($content->counter) echo $content->escape('counter') . ' ' . TFISH_VIEWS . ' | ';
					if ($tags) echo TFISH_TAGS . ': ' . implode(", ", $tags); ?>
			</em></p>
		<?php endif; ?>
		<?php if ($content->image): ?>
			<div class="pull-right">
				<img src="<?php echo $content->getCachedImage(300); ?>"
					<?php if ($content->caption): ?>
							title="<?php echo $content->escape('caption'); ?>" alt="<?php echo $content->escape('caption'); ?>"
					<?php endif; ?>
				/>
			</div>
		<?php endif; ?>
		<?php if ($content->description) echo $content->escape('description'); ?>
	</div>
<?php endif; ?>